.interview-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.interview-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

/* مهم جدا */
app-chat-window {
  flex: 1;
  min-height: 0;
  display: flex;
  overflow: hidden;
}

app-chat-input {
  flex-shrink: 0;
}